<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mtsa.adventurehelper">

    <!-- <uses-permission android:name="android.permission.WRITE_SETTINGS"/> -->
    <application
        android:allowBackup="true"
        android:icon="@mipmap/icon_compass2"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/icon_compass2"
        android:supportsRtl="true"
        android:theme="@style/Desert">
        <activity
            android:name=".SplashActivity"
            android:screenOrientation="portrait"
            android:theme="@style/SplashTheme" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />


                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".TelaPrincipal" />
        <activity android:name=".TelaDados" />
        <activity android:name=".TelaListaPersonagens" />
        <activity android:name=".TelaPersonagem" />
        <activity android:name=".FichaCompleta" />
        <activity android:name=".CriarPersonagem_Raca" />
        <activity android:name=".CriarPersonagem_Classe" />
        <activity android:name=".CriarPersonagem_Equipamentos" />
        <activity android:name=".CriarPersonagem_Atributos"></activity>
    </application>

</manifest>